<div>
	<h1>This is the Home view</h1>

	<md-card md-theme="dark-grey" md-theme-watch>
		<md-card-title>
			<md-card-title-text>
				<span class="md-headline">Card with image</span>
				<span class="md-subhead">Large</span>
			</md-card-title-text>
			<md-card-title-media>
				<div class="md-media-lg card-media"></div>
			</md-card-title-media>
		</md-card-title>
		<md-card-actions layout="row" layout-align="end center">
			<md-button>Action 1</md-button>
			<md-button>Action 2</md-button>
		</md-card-actions>
	</md-card>

	<md-tabs md-dynamic-height md-border-bottom>
		<md-tab label="one">
			<md-content class="md-padding">
				<h1 class="md-display-2">Tab One</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
			</md-content>
		</md-tab>
		<md-tab label="two">
			<md-content class="md-padding">
				<h1 class="md-display-2">Tab Two</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pret</p>
			</md-content>
		</md-tab>
		<md-tab label="three">
			<md-content class="md-padding">
				<h1 class="md-display-2">Tab Three</h1>
				<p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
				<p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
				<p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
			</md-content>
		</md-tab>
	</md-tabs>
</div>